# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextjs_addon/node_modules
/nextjs_addon/.pnp
/nextjs_addon/.pnp.js
/nextjs_addon/.yarn/install-state.gz

# testing
/nextjs_addon/coverage

# next.js
/nextjs_addon/.next/
/nextjs_addon/out/

# production
/nextjs_addon/build

# misc
/nextjs_addon/.DS_Store
/nextjs_addon/*.pem

# debug
/nextjs_addon/npm-debug.log*
/nextjs_addon/yarn-debug.log*
/nextjs_addon/yarn-error.log*

# local env files
/nextjs_addon/.env*.local

# vercel
/nextjs_addon/.vercel

# typescript
/nextjs_addon/*.tsbuildinfo
/nextjs_addon/next-env.d.ts
